<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965654434726-vt6ddpka6f6tnd7hvjcc0pvjiu1u7i6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965654434726-vt6ddpka6f6tnd7hvjcc0pvjiu1u7i6d</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8PrGqG_Z_jdK-4VXjmCW5HkCcZddV8o</string>
	<key>GCM_SENDER_ID</key>
	<string>965654434726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lynkmyu.bookManager</string>
	<key>PROJECT_ID</key>
	<string>bookmanager-a00ea</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmanager-a00ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965654434726:ios:9f26a44ecd418564147567</string>
</dict>
</plist>